html, body { background:#ebebeb; font-family:Verdana; margin:0; padding:0; }
.read li i{
    width: 22px;
    font-size: 20px;
}
.bg-whitesmoke{
    background-color: whitesmoke;
}
.wrapper{ width: 90%; margin: 0 auto; }
table tr td:last-child{ width: 120px; }
.jstree{
    overflow-x: auto;
}